

.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#m{
  border: 1px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.movie{
  padding :1em;
  /* border: 1px solid black; */
  align-items: center;
}

.grid{
  max-width: 50rem;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr ;
  gap: 0.5rem;
  align-items: center;
  font-family:'Times New Roman', Times, serif
}

.movie-poster {
  width: 100px;
  height: 200px;
}
.App {
  background-color: black;
  color: white;
  font-family: sans-serif;
}
